<%= render partial: "partials/structure1", locals: {model_name: "starred_item", 
                                                         primary: "starred_items", 
                                                         secondary: nil,
                                                         sidebar: nil} %>

<p>&nbsp;</p>
<%# <%= render :partial => "partials/add_new_object", locals: {model_name: 'starred_item'} %>