<nav id="nav">
  <div class="container">
    <ul class="left hide-on-med-and-down">
      <li><%= link_to 'Items', items_path %></li>
      <li><%= link_to 'Categories', categories_path %></li>
      <li><%= link_to 'Subcats', subcats_path %></li>
      <li><%= link_to 'Users', users_path %></li>
      <li><a href="/login"><i class="material-icons right">exit_to_app</i>Login</a></li>
      <li><a href="/signup"><i class="material-icons right">assignment</i>Sign Up</a></li>
    </ul>
  </div>
</nav>
