<% unless @inactive_subcats.empty? %>
  <div class="card lighten-4">
    <div class="card-content">
      <span class="card-title">Inactive Categories</span>
      <ul>
        <% for subcat in @inactive_subcats %>
          <li><%= link_to subcat.name, subcat_path(subcat) %></li>
        <% end %>
      </ul>
    </div>
  </div>
<% end %>