<h4 >Active Categories</h4>

<table class="striped highlight">
  <thead>
    <th>Name</th>
  </thead>
  <% for cat in @active_cats %>
    <tr class="<%= cycle('dg_list_line_odd', 'dg_list_line_even') %>">
      <td><%= link_to cat.name, category_path(cat) %></td>
    <td class="align_center">
      <%= link_to edit_category_path(cat) do %>
            <i class="material-icons">edit</i>
      <% end %>
      &nbsp;&nbsp;&nbsp;&nbsp; 
      <%= link_to(category_path(cat), method: :delete, data: { confirm: 'Are you sure you wish to delete this information?' }) do %>
          <i class="material-icons">delete</i>
      <% end %>
    </td>
    </tr>
  <% end %>
</table>