<% unless @inactive_cats.empty? %>
  <div class="card lighten-4">
    <div class="card-content">
      <span class="card-title">Inactive Categories</span>
      <ul>
        <% for cat in @inactive_cats %>
          <li><%= link_to cat.name, category_path(cat) %></li>
        <% end %>
      </ul>
    </div>
  </div>
<% end %>